{
  "parser": "babel-eslint",
  "rules": {
    "camelcase": "warn",
    "no-unused-vars": "warn",
    "no-undef": "off",
    "no-constant-condition": "warn",
    "react/prop-types": "warn"
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react"],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
